In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd
import sklearn 
import sklearn.model_selection

C:\Users\4shub\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
tic=pd.read_csv("C:\\Users\\4shub\\Desktop\\summertrainning\\train.csv",error_bad_lines=False)
df=pd.read_csv("C:\\Users\\4shub\\Desktop\\summertrainning\\train.csv",error_bad_lines=False)

In [3]:
tic=tic.drop(["Cabin","PassengerId","Name","Fare","Ticket"],axis=1)

In [4]:
tic.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [5]:
tic["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [6]:
tic=tic.join(pd.get_dummies(tic["Embarked"]))
tic=tic.join(pd.get_dummies(tic["Sex"]))

In [7]:
tic=tic.drop(["Embarked"],axis=1)
tic=tic.drop(["Sex"],axis=1)

In [8]:
tic.head()

   Survived  Pclass   Age  SibSp  Parch  C  Q  S  female  male
0         0       3  22.0      1      0  0  0  1       0     1
1         1       1  38.0      1      0  1  0  0       1     0
2         1       3  26.0      0      0  0  0  1       1     0
3         1       1  35.0      1      0  0  0  1       1     0
4         0       3  35.0      0      0  0  0  1       0     1

In [9]:
tic.keys()

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'C', 'Q', 'S', 'female',
       'male'],
      dtype='object')

In [10]:
feature_columns=[]
for key in tic.keys():
    if key=='Survived':
        continue
    feature_columns.append(tf.feature_column.numeric_column(key=key))

In [11]:
feature_columns

[_NumericColumn(key='Pclass', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='SibSp', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='C', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Q', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='S', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='female', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='male', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [19]:
estimator=tf.estimator.DNNClassifier(feature_columns=feature_columns,hidden_units=[10,10],n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\4shub\AppData\Local\Temp\tmp2k0mp5c_
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\4shub\\AppData\\Local\\Temp\\tmp2k0mp5c_', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001CB3A193358>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [20]:
def my_input_fn():
    df=pd.read_csv("C:\\Users\\4shub\\Desktop\\summertrainning\\train.csv")
    df=df.drop(["Cabin","PassengerId","Name","Fare","Ticket"],axis=1)
    #df=df.drop(["Id"],axis=1)
    #y=df["Species"]
    df=df.join(pd.get_dummies(df["Embarked"]))
    df=df.drop(["Embarked"],axis=1)
    df=df.join(pd.get_dummies(df["Sex"]))
    df=df.drop(["Sex"],axis=1)
    df=df.dropna()
    y=df["Survived"]
    y=np.array(y,dtype=np.int32)
    df=df.drop(["Survived"],axis=1)
    
    x=(df)
    x_train,y_train,x_test,y_test=sklearn.model_selection.train_test_split(x,y,test_size=0.2)
    #print(x)
    return x_train,x_test,y_train,y_test

In [21]:
my_input_fn()

(     Pclass   Age  SibSp  Parch  C  Q  S  female  male
 233       3   5.0      4      2  0  0  1       1     0
 366       1  60.0      1      0  1  0  0       1     0
 327       2  36.0      0      0  0  0  1       1     0
 771       3  48.0      0      0  0  0  1       0     1
 505       1  18.0      1      0  1  0  0       0     1
 56        2  21.0      0      0  0  0  1       1     0
 27        1  19.0      3      2  0  0  1       0     1
 638       3  41.0      0      5  0  0  1       1     0
 266       3  16.0      4      1  0  0  1       0     1
 60        3  22.0      0      0  1  0  0       0     1
 259       2  50.0      0      1  0  0  1       1     0
 323       2  22.0      1      1  0  0  1       1     0
 668       3  43.0      0      0  0  0  1       0     1
 74        3  32.0      0      0  0  0  1       0     1
 190       2  32.0      0      0  0  0  1       1     0
 526       2  50.0      0      0  0  0  1       1     0
 887       1  19.0      0      0  0  0  1       1     0
 770       3  24.0      0      0  0  0  1       0     1
 443       2  28.0      0      0  0  0  1       1     0
 191       2  19.0      0      0  0  0  1       0     1
 102       1  21.0      0      1  0  0  1       0     1
 234       2  24.0      0      0  0  0  1       0     1
 713       3  29.0      0      0  0  0  1       0     1
 197       3  42.0      0      1  0  0  1       0     1
 471       3  38.0      0      0  0  0  1       0     1
 155       1  51.0      0      1  1  0  0       0     1
 210       3  24.0      0      0  0  0  1       0     1
 434       1  50.0      1      0  0  0  1       0     1
 349       3  42.0      0      0  0  0  1       0     1
 131       3  20.0      0      0  0  0  1       0     1
 ..      ...   ...    ...    ... .. .. ..     ...   ...
 333       3  16.0      2      0  0  0  1       0     1
 162       3  26.0      0      0  0  0  1       0     1
 144       2  18.0      0      0  0  0  1       0     1
 341       1  24.0      3      2  0  0  1       1     0
 283       3  19.0      0      0  0  0  1       0     1
 356       1  22.0      0      1  0  0  1       1     0
 885       3  39.0      0      5  0  1  0       1     0
 424       3  18.0      1      1  0  0  1       0     1
 290       1  26.0      0      0  0  0  1       1     0
 188       3  40.0      1      1  0  1  0       0     1
 654       3  18.0      0      0  0  1  0       1     0
 414       3  44.0      0      0  0  0  1       0     1
 325       1  36.0      0      0  1  0  0       1     0
 381       3   1.0      0      2  1  0  0       1     0
 609       1  40.0      0      0  0  0  1       1     0
 561       3  40.0      0      0  0  0  1       0     1
 247       2  24.0      0      2  0  0  1       1     0
 92        1  46.0      1      0  0  0  1       0     1
 536       1  45.0      0      0  0  0  1       0     1
 521       3  22.0      0      0  0  0  1       0     1
 604       1  35.0      0      0  1  0  0       0     1
 376       3  22.0      0      0  0  0  1       1     0
 625       1  61.0      0      0  0  0  1       0     1
 731       3  11.0      0      0  1  0  0       0     1
 676       3  24.5      0      0  0  0  1       0     1
 544       1  50.0      1      0  1  0  0       0     1
 227       3  20.5      0      0  0  0  1       0     1
 387       2  36.0      0      0  0  0  1       1     0
 285       3  33.0      0      0  1  0  0       0     1
 432       2  42.0      1      0  0  0  1       1     0

 [571 rows x 9 columns],
 array([1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
        0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
        1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
        0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
        0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
        0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
        0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1]),
      Pclass   Age  SibSp  Parch  C  Q  S  female  male
 422       3  29.0      0      0  0  0  1       0     1
 49        3  18.0      1      0  0  0  1       1     0
 389       2  17.0      0      0  1  0  0       1     0
 530       2   2.0      1      1  0  0  1       1     0
 450       2  36.0      1      2  0  0  1       0     1
 506       2  33.0      0      2  0  0  1       1     0
 809       1  33.0      1      0  0  0  1       1     0
 646       3  19.0      0      0  0  0  1       0     1
 603       3  44.0      0      0  0  0  1       0     1
 322       2  30.0      0      0  0  1  0       1     0
 797       3  31.0      0      0  0  0  1       1     0
 818       3  43.0      0      0  0  0  1       0     1
 313       3  28.0      0      0  0  0  1       0     1
 230       1  35.0      1      0  0  0  1       1     0
 11        1  58.0      0      0  0  0  1       1     0
 441       3  20.0      0      0  0  0  1       0     1
 179       3  36.0      0      0  0  0  1       0     1
 44        3  19.0      0      0  0  1  0       1     0
 883       2  28.0      0      0  0  0  1       0     1
 523       1  44.0      0      1  1  0  0       1     0
 150       2  51.0      0      0  0  0  1       0     1
 398       2  23.0      0      0  0  0  1       0     1
 535       2   7.0      0      2  0  0  1       1     0
 514       3  24.0      0      0  0  0  1       0     1
 605       3  36.0      1      0  0  0  1       0     1
 581       1  39.0      1      1  1  0  0       1     0
 622       3  20.0      1      1  1  0  0       0     1
 491       3  21.0      0      0  0  0  1       0     1
 591       1  52.0      1      0  1  0  0       1     0
 642       3   2.0      3      2  0  0  1       1     0
 ..      ...   ...    ...    ... .. .. ..     ...   ...
 111       3  14.5      1      0  1  0  0       1     0
 874       2  28.0      1      0  1  0  0       1     0
 486       1  35.0      1      0  0  0  1       1     0
 138       3  16.0      0      0  0  0  1       0     1
 808       2  39.0      0      0  0  0  1       0     1
 119       3   2.0      4      2  0  0  1       1     0
 355       3  28.0      0      0  0  0  1       0     1
 637       2  31.0      1      1  0  0  1       0     1
 363       3  35.0      0      0  0  0  1       0     1
 827       2   1.0      0      2  1  0  0       0     1
 152       3  55.5      0      0  0  0  1       0     1
 518       2  36.0      1      0  0  0  1       1     0
 583       1  36.0      0      0  1  0  0       0     1
 623       3  21.0      0      0  0  0  1       0     1
 751       3   6.0      0      1  0  0  1       0     1
 882       3  22.0      0      0  0  0  1       1     0
 811       3  39.0      0      0  0  0  1       0     1
 621       1  42.0      1      0  0  0  1       0     1
 595       3  36.0      1      1  0  0  1       0     1
 395       3  22.0      0      0  0  0  1       0     1
 100       3  28.0      0      0  0  0  1       1     0
 690       1  31.0      1      0  0  0  1       0     1
 228       2  18.0      0      0  0  0  1       0     1
 6         1  54.0      0      0  0  0  1       0     1
 683       3  14.0      5      2  0  0  1       0     1
 445       1   4.0      0      2  0  0  1       0     1
 702       3  18.0      0      1  1  0  0       1     0
 340       2   2.0      1      1  0  0  1       0     1
 328       3  31.0      1      1  0  0  1       1     0
 712       1  48.0      1      0  0  0  1       0     1

 [143 rows x 9 columns],
 array([0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1]))

In [22]:
X_TRAIN,Y_TRAIN,X_TEST,Y_TEST=my_input_fn()

In [23]:
def my_input_fn_train():
    return dict(X_TRAIN),Y_TRAIN
def my_input_fn_test():
    return dict(X_TEST),Y_TEST

In [24]:
estimator.evaluate(input_fn=my_input_fn_train,steps=100)

INFO:tensorflow:Could not find trained model in model_dir: C:\Users\4shub\AppData\Local\Temp\tmp2k0mp5c_, running initialization to evaluate.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-07-13-09:06:20
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Evaluation [5/50]
INFO:tensorflow:Evaluation [10/50]
INFO:tensorflow:Evaluation [15/50]
INFO:tensorflow:Evaluation [20/50]
INFO:tensorflow:Evaluation [25/50]
INFO:tensorflow:Evaluation [30/50]
INFO:tensorflow:Evaluation [35/50]
INFO:tensorflow:Evaluation [40/50]
INFO:tensorflow:Evaluation [45/50]
INFO:tensorflow:Evaluation [50/50]
INFO:tensorflow:Finished evaluation at 2018-07-13-09:06:21
INFO:tensorflow:Saving dict for global step 0: accuracy = 0.71978986, accuracy_baseline = 0.6007005, auc = 0.7759961, auc_precision_recall = 0.6996728, average_loss = 0.60794175, global_step = 0, label/mean = 0.39929947, loss = 347.13474, precision = 0.63178295, prediction/mean = 0.463051, recall = 0.7149123

{'accuracy': 0.71978986,
 'accuracy_baseline': 0.6007005,
 'auc': 0.7759961,
 'auc_precision_recall': 0.6996728,
 'average_loss': 0.60794175,
 'global_step': 0,
 'label/mean': 0.39929947,
 'loss': 347.13474,
 'precision': 0.63178295,
 'prediction/mean': 0.463051,
 'recall': 0.7149123}