In [34]:
import numpy as np
import pandas as pd
tic=pd.read_csv("C:\\Users\\4shub\\Desktop\\summertrainning\\train.csv",error_bad_lines=False)
import matplotlib.pyplot as plt
import sklearn
import sklearn.linear_model
import sklearn.tree
import sklearn.ensemble
import csv

In [35]:
tic=tic.drop(["Cabin","PassengerId","Name","Fare","Ticket"],axis=1)

In [36]:
tic=tic.join(pd.get_dummies(tic["Sex"]))

In [37]:
tic=tic.drop(["Sex"],axis=1)

In [38]:
tic=tic.join(pd.get_dummies(tic["Embarked"]))

In [39]:
tic=tic.drop(["Embarked"],axis=1)
tic=tic.dropna()

In [40]:
y=tic["Survived"]
tic=tic.drop(["Survived"],axis=1)

In [41]:
x=tic

In [42]:
x_train,x_test,y_train,y_test = sklearn.model_selection.train_test_split(x,y,test_size=0.2)

In [43]:
clf=sklearn.ensemble.RandomForestClassifier(random_state=0)

In [44]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [45]:
clf.score(x_test,y_test)

0.8251748251748252

In [46]:
clf.feature_importances_

array([0.11660919, 0.42537325, 0.06710118, 0.06007859, 0.2100013 ,
       0.08086954, 0.01988347, 0.00523167, 0.0148518 ])

In [47]:
tic.head()

   Pclass   Age  SibSp  Parch  female  male  C  Q  S
0       3  22.0      1      0       0     1  0  0  1
1       1  38.0      1      0       1     0  1  0  0
2       3  26.0      0      0       1     0  0  0  1
3       1  35.0      1      0       1     0  0  0  1
4       3  35.0      0      0       0     1  0  0  1